body{
    background-color: cadetblue;
    margin: 250px auto;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textarea{
    background-color: black;
    border-radius: 7px;
    color: white;
    border: 1px solid white;
    width: 60%;
    height: 100px;
    transition: all 0.3s;

}

#contador{
    color: white;
}

p{
    color: white;
}


.limite{
    color: rgb(192, 51, 51) !important;
    font-weight: bold;
}

.max{
    color: rgb(192, 51, 51) !important;
    font-weight: bold;
}

.limite-alcanzado {
    border: 2px solid red !important;
    color: red !important;
}
